<div id="todo">
    <div>Todo</div>
    <div>
        <input type="text" placeholder="what needs to be done" [(ngModel)]="todo.item">
        <button (click)="addTodo(todo)">+</button>
        <div *ngFor="let todo of viewTodoList">
            <add-todo [todo]="todo" (onDelete)="deleteTodo($event)" (onToggle)="toggle($event)"></add-todo>
        </div>
        <div>
            <foot
                    [todoList]="todoList"
                    [leftTodoList]="leftTodoList"
                    (onGetTodos)="getTodos($event)"
                    (onClearComplete)="clearComplete()"
            ></foot>
        </div>
    </div>
</div>